body {
	background-color: rgb(79, 171, 243);
	color: #fff;
	font-family: Ubuntu, sans-serif;
}

button {
	border: 3px solid #fff;
	background-color: #ffaf00;
	transition: .3s background-color, .2s color;
	padding: 10px;
	font-size: 16px;
	border-radius: 12px;
}

button:hover {
	background-color: #000;
	color: #fff;
}

.cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.card {
	min-width: 400px;
	min-height: 300px;
	background-color: #44a832;
	margin: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
